* {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
  }
  
body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
body::before {
    content: '';
    position: absolute;
    inset: 0;
    background: url(pexels-simon-berger-1323550.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    z-index: -1;
  }
  
.container {
    position: relative;
    width: 350px;
    height: 340px;
    border-radius: 15px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 1000;
    transition: 0.5s;
  }
  
.container::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(69, 243, 255, 0.7), transparent);
    border-radius: 15px;
    z-index: 1;
  }
  
.container span {
    position: absolute;
    inset: 5px;
    overflow: hidden;
    border-radius: 15px;
  }
  
.container span::before {
    content: '';
    position: absolute;
    inset: 5px;
    background: url(pexels-simon-berger-1323550.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    filter: blur(10px);
  }
  
.container span::after {
    content: '';
    position: absolute;
    inset: 5px;
    background: url(pexels-simon-berger-1323550.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    filter: blur(15px);
  }

.text-container {
    text-align: center;
    color: white; /* Altere a cor do texto conforme necessário */
    z-index: 2; /* Coloque o texto à frente do gradiente */
  }

.text-container h1 {
    font-size: 24px; /* Tamanho do título */
    margin-bottom: 10px; /* Espaçamento inferior */
  }

.text-container p {
    font-size: 18px; /* Tamanho do texto */
  }
